/* body {
  background: #FFEBCD;
  color: #A52A2A;
}
a {
    color: #168888;
}
form {
  background: white;
  color: grey;
}
*/

html,
body {
  margin: auto;
  padding: auto;
  background: #fff;
  color: #000;
}

fieldset {
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  }

  label {
    display: flex;
    width: 300px;
    line-height: 26px;
    margin-bottom: 10px;
  }
  
  input {
    flex: 0 0 200px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  

/* GLOBAL ELEMENTS */
@font-face {
  font-family: 'RobotoR';
  font-weight: 400;
  src: url('fonts/Roboto-Regular.ttf');

}

@font-face {
  font-family: 'RobotoL';
  font-weight: 300;
  src: url('fonts/Roboto-Light.ttf');

}

body {
  background: #fff;
  color: #000;
  font-family: 'RobotoL', sans-serif;
  font-weight: 300;

}

a {
  color: #f2f2f2;
}

a,
a:active,
a:visited,
a:focus {
    color: #ff5500;
}

a:hover {
  color: #a20d01;
}


button,
input[type="submit"], 
#submitButton {
  background: #f50;
  color: #fff;
  border: none;
  border-bottom: 1px solid #ca4502;
  cursor: pointer;
}
      button a,
      button a:active,
      button a:visited,
      button a:focus {
          color: #fff;
          text-decoration: none;
      }

      button:hover,
      input[type="submit"]:hover,
      #submitButton:hover {
        background: #a20d01;
      }


h1,
h2,
h3,
h4,
h5,
h6 {
    /* color: #000; */
    font-family: 'RobotoL';
}

body > main {
    margin: 40px 0 0 0;
    height: 100%;
}

body > footer {
  background: #ccc;
  border-top: 3px solid #808080;
  color: #616161;
  bottom:0;
  width: 100%;

}

    body > footer p{
      color: #616161;
      font-size: 13px;
      text-align: center;
      margin: 0;
      padding: 12px 0;
}

body > header {
  box-shadow: 0px 4px 1px 2px rgba(0,0,0,0.25);
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
}

body> header.main-logo {
  color: #000;
  margin: 0;
  padding: 12.5px 0;
}

  body > header ul,
  body > header ul li{
    list-style: none;
    list-style-type: none;
    display: inline-block;
    margin-inline: 4px;
    font-size: 18px;
  }

  body > header p{
    float: left;
    font-size: 18px;
  }

  body > header .primary-menu img{
    width: 15px;
    height: auto;
    margin-right: 5px;
  }

  #hotel-img {
    width: 100%;
    height: auto;
  }


/* HOMEPAGE */
body section.hero {
    display: grid;
    justify-content: center;
    height: 100%;
    align-items: center;
    background: url(../images/cover/cover4.jpg) no-repeat center center;
    background-size: cover;
}

      section.hero form{
          background: #fff;
          /* width: 30%; */
          /* margin: 0 auto; */
          box-sizing: border-box;
          padding: 25px;
          border-radius: 12px;
          position: relative;
          
      }

      body section.hero h1{
        color: #fff;
        text-align: center;
        text-shadow: 2px 2px 2px #fff;
      }

      section.hero form .action {
        margin-top: 10px;
      }

      section.hero form input[type=submit] {
        border: none;
        padding: 12px 45px 12px 45px;
        font-size: 18px;
        line-height: 16px;
        font-family: 'RobotoL';
        border-radius: 6px;
      }

      section.hero form input[type=submit]:hover {
        background: center #a20d01;
        background-size: 18px;
      }




/* HOTEL LIST  */
.container, .search-container {
    width: 1004px;
    margin: 0 auto;
}

.page-title {
  background: #ff5500;
  border-radius: 4px;
  padding: 0.5px 25px;
}

    .page-title h2 {
      color: #fff;
      font-weight: 300;
      font-family: 'RobotoL';
    }

.box {
  box-sizing: border-box;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.clear {
  clear: both;
}

aside form input,
aside form select,
aside form textarea {
  border: 1px solid #c7c7c7;
  border-radius: 4px;
  padding: 10px 5px;
  margin: 5px 0 15px 0;
  width: 100%;
  background: #efefef;
}

aside form label {
  margin: 10px 0 0 0;
  font-size: 14px;
  line-height: 20px;
}

aside form input[type="submit"] {
  text-transform: uppercase;
  padding: 5px 0;
  font-size: 18px;
  font-family: 'RobotoL';
  width: 100%;
}

/* MEDIA QUERIES */
@media (max-width: 1004px) {
    .container, .search-container{
        width: 804px;
    }

    section.hotel-list {
        width: 550px;
    }

    iframe {
      max-width: 100%;
    }
}

@media (max-width: 804px) {
  .container, .search-container{
      width: 100%;
  }



  aside.hotel-search,
  section.hotel-list {
    width: 90%;
    margin: 0 auto;
    display: block;
  }

    section.hero form {
      width: 99%;
    }

    section.hero form input,
    section.hero form select,
    section.hero form textarea {
      width: 55%;
     
    }
    textarea#reviewField {
        width: 95%;
    }
    mapboxgl-canvas {
        width: 95%;
    }
  }

  /* Index-page styling */

  .centered {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  main section.room-search-box {
    padding-top: 100px;

  }

  /* Datepickers */
  
  input#datepicker {
    margin-top: 30px;
    height: 25px;
  }
  input#datepicker2 {
    margin-top: 21px;
    height: 25px;
  }

  input#datepicker3 {
    margin-top: 0px;
    height: 25px;
  }
  input#datepicker4 {
    margin-top: 0px;
    height: 25px;
  }


 input#submitSearchButton {
    border: none;
    padding: 12px 45px 12px 45px;
    font-size: 18px;
    line-height: 16px;
    font-family: 'RobotoL';
    border-radius: 6px;
    margin-top: 20px;
 }

 /* Search Results */
 article.hotel .info {
  width: 80%;
  box-sizing: border-box;
  padding: 0 0 0 25px;
  margin: 0 0 0 2%;
  border-left: 3px solid #f50;
 }

 article.hotel .media, article.hotel .info {
  float: left;
}

section.hotel-list {
  width: 750px;
  display: inline-block;
  vertical-align: top;
  padding: 0 25px;
  float: left;
}

aside.hotel-search {
  width: 250px;
  display: inline-block;
  vertical-align: top;
  padding: 25px;
  box-shadow: 0 2px 4px 4px rgb(0 0 0 / 11%);
  border-radius: 5px;
  float: left;
}
 
.search-container {
  display:flex;
  justify-content: center;
  font-family: 'RobotoL', sans-serif;
  font-weight: 300;
}

article.hotel .media {
  width: 15%;
}

article.hotel .media, article.hotel .info {
  float: left;
}

aside {
  display: block;
}

/* Tables */

table.price-range tr td {
  padding:5px 20px 5px 5px;
}

table.price-range tr td:nth-of-type(1),
table.price-range tr td:nth-of-type(2){
  padding-right: 5px!important;
}

#property-info {
  
display: table;
background-color: #D3D3D3;
border-collapse: separate;
border-radius: 10px;
box-sizing: border-box;
text-indent: initial;
border-spacing: 2px;
border-color: grey;
padding: 5px;
margin-top: 10px;
}

#property-info td:first-child {
  border-right: solid 3px rgb(68, 61, 61);
  padding-right: 10px;
  }

#property-info td:last-child {
  border-left: solid 3px rgb(68, 61, 61);
  padding-left: 10px;
  }

  #property-info td:nth-child(2) {
    border-right: solid 3px rgb(68, 61, 61);
    padding-right: 10px;
    }

  #property-info td {
    padding-inline: 5px;
  }  


/* Slider */

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #f50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f50;
  cursor: pointer;
}

/* Room page */

.room-image {
  position: relative;
  height: auto;
  width: 45%

}

.room-centered {
  position: relative;

}

table.room-title-info tr td {
  padding:5px 20px 5px 5px;
}

#room-title-info {

  width: 100%;
  display: table;
  color: #fff;
  background-color: #ff5500;
  border-collapse: separate;
  border-radius: 10px;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  padding: 5px;
  margin-top: 50px;
  margin-bottom: 20px;
  }

  #room-tags-info {

    width: 90%;
    display: table;
    color: #fff;
    background-color: #ff5500;
    border-collapse: separate;
    border-radius: 10px;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    }

    .room-description {
      border-left: 2px solid #ff5500;
      padding-left: 20px;
    }

    #BookButton {
      background: #f50;
      color: #fff;
      border: none;
      border-bottom: 1px solid #ca4502;
      cursor: pointer;
      padding: 15px;
      border-radius: 10px;
      font-size: 20px;
    }

    #BookButton:hover {
      background: #a20d01;
    }

    #already-booked {
      background: rgb(216, 46, 40);
      color: #fff;
      border: none;
      border-bottom: 1px solid #950803;
      cursor: pointer;
      padding: 12px;
      border-radius: 10px;
      font-size: 15px;
    }

    #already-booked:hover {
      background: #5e0c06;
    }

    /* Map */
    #map {
      height: 100%;
    }

    section.availability-buttons {
      display: block;
    }

    hr {
      margin: 15px;
    }

    .caption {
      font-family: 'RobotoL';
      border-left: 2px solid #ff5500;
      padding-left: 20px;

    }

    .caption-room {
      display: inline-block;
    }

    /* Star rating */

    *{
      margin: 3px;
      padding: 0;
  }
  .rating {
      float: left;
      height: 46px;
      padding: 0 10px;
  }
  .rating:not(:checked) > input {
      position:absolute;
      top:-9999px;
  }
  .rating:not(:checked) > label {
      float:right;
      width:1em;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:30px;
      color:#ccc;
  }
  .rating:not(:checked) > label:before {
      content: '★ ';
  }
  .rating > input:checked ~ label {
      color: #ffc700;    
  }
  .rating:not(:checked) > label:hover,
  .rating:not(:checked) > label:hover ~ label {
      color: #deb217;  
  }
  .rating > input:checked + label:hover,
  .rating > input:checked + label:hover ~ label,
  .rating > input:checked ~ label:hover,
  .rating > input:checked ~ label:hover ~ label,
  .rating > label:hover ~ input:checked ~ label {
      color: #c59b08;
  }
  
  .review-textarea {
    width: 400%;
  }

  #FavButton {
    background: #fff;
    color: #f50;
    border: none;
    border-bottom: 1px solid #ca4502;
    cursor: pointer;
    padding: 8px;
    border-radius: 10px;
  }

  #FavButton:hover 
    {
      background: #a20d01;
    }

    #RemButton {
      background: #fff;
      color: rgb(216, 46, 40);;
      border: none;
      border-bottom: 1px solid #ca4502;
      cursor: pointer;
      padding: 8px;
      border-radius: 10px;
    }

    #RemButton:hover {
      background: #a20d01;
    }

    .hide {
      display:none;
    }

    .show
    {
      display:block;
    }

    .display-flex-center {
      display: flex;
      flex-direction: column;
      JUSTIFY-CONTENT: center;
      ALIGN-CONTENT: center;
      ALIGN-ITEMS: center;
    }

    .room-search {
      height: calc( 100vh - 38px - 48px );
      background: url(../images/cover/cover3.jpg) no-repeat center center;
      background-size: cover;
    }

    /* body.room-search {
      background: url(assets/images/cover/cover.jpg) no-repeat center center;
      background-size: cover;
      padding: 155px 0 300px 0;  
    } */

    .search-results{
      min-height: calc( 100vh - 48px - 48px );
      padding-top: 50px;
      
    }
    .room-page-name {
      margin: 40px 0 0 0;
      height: auto;
    }

    .overflow-fix {
      overflow-x: hidden;
    }

    .btn-primary {
      padding: 10px 20px;
      border-radius: 10px;
      margin: 10px 0 ;
    }

    #submitButton {
      border-radius: 10px;
    }

    .fixing-css {
      overflow: hidden;
}
    .main-content {
      height: calc( 100vh - 38px - 48px );
    }